<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <pre>
        [문제] 
            1 에서 300 사이의 숫자중 다음 조건에 전부 맞는 숫자를 출력하시오.
            [조건1] 11의 배수를 출력
            [조건2] 200에 가장가까운 수를 출력 
        
    </pre>
    [조건1]11의 배수 : 
    <% 
    for(var i=1; i<=300; i++) {%>
        <%if(i % 11 == 0) {%>
            <%=i%>
        <%}%>
   <%}%> 

   <%
   for(var i=1; i<=200; i++) {
    if(i % 11 == 0) {
        var fir = i;
    }
   }
   var las = fir + 11;
   var firDiff = 200 - fir;
   var lasDiff = las - 200;
   var result = 0;
   if(firDiff > lasDiff) {
        result = las;
   }
   else {
        result = fir;
   }
   %>
   [조건2]200에 가장 가까운수 : <%=result%>

</body>
</html>