<style>
    * { 
        margin: 0; 
        padding: 0; 
    }
    .top {
        width: 100%;
        height: 80px;
        background-color: blue;
        color: white;
        text-align: center;
        line-height: 80px;
    }

    .top a {
        color : white
    }
</style>

<div class="top">
	<h1><a href="/">DB Portfolio Ver1.0</a></h1>
</div>